<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\RUMIL\ONEDRIVE\DESKTOP\DATABASE.MDF;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
